@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color-1: #111827;
$primary-color-2: #1f2937;
$secondary-color: #374151;
$accent-color: #fafafa;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-bg-1 {
  background-color: $primary-color-1;
}

.primary-bg-2 {
  background-color: $primary-color-2;
}

.secondary-bg {
  background-color: $secondary-color;
}

.default-button {
  @apply rounded-md;
}

.primary-button {
  border-color: $primary-color-1;
  background-color: $primary-color-1;
  color: $accent-color;

  &:hover, &:focus {
    background-color: $primary-color-2;
    border-color: $primary-color-2;
    color: $accent-color;
    transition: 0.25s;
  }
}

.default-input {
  @apply rounded-md;
}

.primary-input {
  &:hover, &:focus {
    border-color: $primary-color-1;
    box-shadow: $primary-color-1;
  }
}