<div class="min-w-screen min-h-screen bg-slate-900 text-white">
    <div class="min-w-screen min-h-screen flex items-center justify-center">
        <div class="flex-col items-center justify-center">
            <div class="text-3xl font-bold mb-5 text-center">Login</div>
            <form [formGroup]="loginFormGroup">
                <div class="bg-slate-700 rounded-md p-5">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="username" class="block text-sm font-medium leading-6">Username</label>
                            <div class="mt-2">
                                <div
                                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-white focus-within:ring-2 focus-within:ring-inset focus-within:ring-slate-900 sm:max-w-md">
                                    <input type="text" formControlName="username"
                                        class="block flex-1 border-0 bg-transparent py-1.5 pl-1 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                        placeholder="janesmith">
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="text" formControlName="password">
                        </div>
                    </div>
                    <!-- <button type="submit" class="mt-5 bg-slate-700 rounded-md px-5 py-2">Login</button> -->
                    <button type="submit" mat-flat-button color="primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>