<div class="min-w-screen min-h-screen primary-bg-1 text-white">
  <div class="min-w-screen min-h-screen flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <div class="text-3xl font-bold mb-5 text-center">Login</div>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
        <div class="flex flex-col justify-center items-center gap-4 secondary-bg rounded-md py-12 px-24">
          <div class="w-full">
            <input nzSize="large" nz-input class="default-input primary-input py-2" placeholder="Username"
              formControlName="username" />
          </div>
          <div class="w-full">
            <nz-input-group  class="default-input primary-input py-2" [nzSuffix]="suffixTemplate">
              <input [type]="isPasswordVisible ? 'text' : 'password'" nz-input placeholder="input password"
                nzSize="large" nz-input placeholder="Password"
                formControlName="password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="isPasswordVisible = !isPasswordVisible"></span>
            </ng-template>
          </div>
          <button nz-button nzSize="large" class="default-button primary-button w-full mt-2">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
