<div class="min-w-screen min-h-screen primary-bg-1 text-white">
  <div class="min-w-screen min-h-screen flex items-center justify-center">
    <div class="w-3/12 flex flex-col items-center justify-center secondary-bg rounded-md py-10 px-6">
      <form class="w-full flex flex-col justify-center items-center" [formGroup]="loginFormGroup"
        (ngSubmit)="onLogin()">
        <div class="text-3xl font-bold mb-12 text-center">Login</div>
        <label class="form-control w-full max-w-xs gap-2">
          <input class="input input-bordered w-full max-w-xs" placeholder="Username" formControlName="username" />
          <div class="w-full flex justify-end items-center relative">
            <input [type]="isPasswordVisible ? 'text': 'password'" class="input input-bordered w-full max-w-xs" placeholder="Password" formControlName="password" />
            <span class="absolute mr-2 w-10" nz-icon [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="isPasswordVisible = !isPasswordVisible" style="z-index: 999;"></span>
          </div>
        </label>
        <!-- <button nz-button nzSize="large" class="default-button primary-button w-full max-w-xs mt-8">Login</button> -->
        <button class="btn w-full btn-md max-w-xs mt-8">Login</button>
      </form>
    </div>
  </div>
</div>
