<div class="max-h-screen primary-bg-1 text-white">
  <div class="flex">
    <div class="min-h-screen py-5 primary-bg-2 w-2/12">
      <div *ngFor="let chat of chats" class="
          flex 
          items-center 
          justify-start 
          px-6 py-4 
          border-gray-200 
          hover:bg-slate-600
          hover:cursor-pointer 
          hover:rounded-md" [ngClass]="chatService.selectedChat.value?.id == chat.id ? 'bg-slate-600 rounded-md' : ''"
        (click)="selectChat(chat)">
        <div class="pr-5">
          <img class="rounded-full" width="60px"
            src="https://i.pinimg.com/736x/0c/1f/e8/0c1fe8c71f68d611ffa84f88e10f348b.jpg" alt="">
        </div>
        <div>
          <div class="text-base font-bold">
            {{ chat.isGroup ? chat.chatName : getPrivateMessageChatName(chat) }}</div>
          <div class="flex items-center justify-start">
            <div class="text-sm pr-2">{{ chat.latestMessage }}</div>
            <div class="text-sm">{{ getDynamicTimeDifference(chat.latestMessageAt) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-10/12 max-h-screen justify-between">
      <!-- Chat Details Header -->
      <div class="flex items-center px-16 py-4 min-w-screen border-b-2 border-indigo-900">
        <div class="pr-5">
          <img class="rounded-full" width="40px"
            src="https://i.pinimg.com/736x/0c/1f/e8/0c1fe8c71f68d611ffa84f88e10f348b.jpg" alt="">
        </div>
        <div class="text-lg font-bold">
          {{ chatService.selectedChat.value && (chatService.selectedChat.value.chatName ?? getPrivateMessageChatName(chatService.selectedChat.value)) }}
        </div>
      </div>
      <!-- Chat Details -->
      <div class="flex w-full justify-center py-12">
        <div class="px-12 py-4 w-6/12">
          <!-- Message box -->
          <div class="flex flex-col justify-between w-full">
            <div class="mb-6">
              <div *ngFor="let dateMessage of messages">
                <div class="flex items-end justify-center mt-12 mb-5">
                  <div class="text-slate-500">{{ dateMessage.date }}</div>
                </div>
                <div *ngFor="let message of dateMessage.messages">
                  <div class="flex items-end mb-3" [ngClass]="message.userId == userId ? 'justify-end' : ''">
                    <div class="px-4 py-2 mr-2 text-base primary-bg-2 rounded-lg w-fit">{{ message.content }}</div>
                    <div class="text-sm">{{ formatTime(message.createdAt) }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="chatService.selectedChat.value" class="flex justify-between items-center">
              <input class="input input-bordered w-full" placeholder="Message..." />
              <div class="flex justify-center ml-4 rounded-full cursor-pointer px-4 py-2 send-button">
                <span class="text-lg mb-1 pl-1" nz-icon nzType="send"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
